.customselect {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 6rem;
}

.customselect select {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  height: 100%;
  width: 100%;
  appearance: none;
  padding: 0 1rem;
}

.customarrow {
  display: block;
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  right: 0;
  pointer-events: none;
}

.customarrow::after {
  position: absolute;
  content: "";
  border: 0.35em solid transparent;
  border-bottom: none;
  border-top: 0.35em solid rgb(255, 255, 255);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
